* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.container {
  margin: 0 20px;
}
.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  position: relative;
}

.heading {
  text-align: center;
  margin-top: 2rem;
}

.player-indicator,
.winner {
  text-align: center;
  font-size: 2.3rem;
}
.restart {
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 10px;
  border: 2px solid black;
  outline: none;
  background-color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  /* display: none; */
}
.restart:hover {
  box-shadow: 0 5px #666;
}
.restart:active:hover {
  transform: translateY(4px);
}
table {
  border-collapse: collapse;
}
tr {
  padding: 1rem;
  border-bottom: 2px solid black;
}

tr:last-of-type {
  border: none;
}
tr td:last-of-type {
  border: none;
}
td {
  border-right: 2px solid black;
}

td button {
  height: 80px;
  width: 80px;
  border: none;
  background-color: #fff;
  font-size: 2.5rem;
  display: block;
  text-decoration: none;
}
td button:disabled {
  color: black;
}
